.shop-section{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-image: url('../../assets/watch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}
.shop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.shop h2, .shop h4, .shop p{
    color: #fff;
}
.shop h1{
    color: orange;
}

@media (max-width: 799px) {
    .shop h2, .shop h1{
        font-size: 28px;
        line-height: 32px;
    }
    .shop p{
        font-size: 14px;
    }

}